@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	--primary-indigo: #657afe;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	background-color: var(--primary-indigo);
}

@layer components {
	.field {
		@apply grid gap-2;
	}

	.label {
		@apply text-base font-medium capitalize;
	}

	.drop__box {
		@apply flex items-center gap-2 flex-wrap;
	}

	.drop__list {
		@apply flex-1 rounded-lg;
	}

	select {
		@apply w-full text-center py-1 px-3 rounded-lg border border-primary-indigo focus:outline-primary-indigo;
	}

	.result {
		@apply font-medium text-center bg-gray-200 p-2 rounded-lg;
	}

	.drop-container {
		@apply flex flex-col gap-6;
	}
}
